<ngx-spinner
bdColor = "rgb(59,153,186,0.8)"
size = "large"
color = "#fff"
type = "timer"
></ngx-spinner>
<div class="col-sm-3 col-md-3 col-lg-3" style="position:absolute;right:50px;top:50px">
        <div >
          <div>
            <div>
              <div class="col-*">
                    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                       <div class = "row">
                        <div class="col-5">
                            <label style="color: #ffff"  for="username">User Name</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Invalid User Name</div>
                            </div>
                        </div>
                        <div class="col-5">
                            <label style="color: #ffff"  for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password</div>
                            </div>
                        </div>
                        <div style = "margin-top : 8px" class="col-2" >
                          <label> </label>
                            <button style ="border: aliceblue" class="btn btn-custom my-2 my-sm-0">Login</button>
                         </div>

                       </div>
                     </form>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- #42AACF -->





