<ngx-spinner style="position: fixed !important;"></ngx-spinner>
<header>
   <a class="btn btn-default" aria-label="Settings">
      <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
      <h5>Raise Complaint</h5>
   </a>

   <nav style ="background-color:rgb(67, 32, 87)" class="navbar navbar-expand-md navbar-custom fixed-top overrides">
      <a class="navbar-brand" href="#">Complaint Registration Portal</a>
      <button class="navbar-toggler" type="butto   n" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <a class="btn btn-default" (click) = "open(content)" aria-label="Settings">
            <i class="fa fa-plus" style="color:#fff;" aria-hidden="true"></i>
            </a>
            <a class="btn btn-default" (click) = "open(delete)" aria-label="delete">
            <i class="fa fa-trash" style="color:#fff;" aria-hidden="true"></i>
            </a>
            <!-- <a class="btn btn-default" (click) = "open(edit);initEditLocation()" aria-label="delete">
               <i class="fa fa-edit" style="color:#fff;" aria-hidden="true"></i>
               </a> -->
            <ul class="navbar-nav mr-auto">
               <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">
                  मुख पृष्ठ <span class="sr-only"></span></a>
                  </li> -->
               <li class="nav-item">
                  <!-- <a class="nav-link" href="#">संपर्क</a> -->
               </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
               <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="खोजे"> -->
               <button class="btn btn-custom my-2 my-sm-0" (click)="logOut()" type="submit"><font color="white">लोग आउट</font>  </button>
            </form>
         </div>
        <div class="btn-group">
            <!-- <button type="button" class="btn btn-secondary">Settings</button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
            </button> -->
            <div class="dropdown-menu">
                <a class="dropdown-item" (click) = "open(content)" aria-label="Settings"Add location>
                    <i class="fa fa-plus" style="color:#0000;" aria-hidden="true"></i> 
                    </a>
                    <a class="dropdown-item" (click) = "open(delete)" aria-label="delete">Delete Location
                    <i class="fa fa-trash" style="color:#0000;" aria-hidden="true"></i>
                    </a>
                    <a class="dropdown-item" (click) = "open(edit);initEditLocation()" aria-label="delete">>Edit Location
                       <i class="fa fa-edit" style="color:#0000;" aria-hidden="true"></i>
                       </a>
           
            </div>
          </div>
         <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
               <a class="nav-link" href="#">
               मुख पृष्ठ <span class="sr-only"></span></a>
               </li> -->
            <li class="nav-item">
               <!-- <a class="nav-link" href="#">संपर्क</a> -->
            </li>
         </ul>
         <!-- <form class="form-inline mt-2 mt-md-0">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()" type="submit"> लोग आउट </button>
         </form> -->
      </div>
   </nav>
</header>
<ngx-spinner></ngx-spinner>
<div class="wrapper">
   <div id = "myCheck" class="sidenav">
      <ng-material-multilevel-menu (click) = "selectLocation($event.target); " (selectedItem)="selectedItem($event)" [configuration]='config'  [items]='appitems'></ng-material-multilevel-menu>
   </div>
</div>

<div class="container contentHead">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <button class="btn btn-md btn-success mr-2 offset-xs-1" (click)="setCurrentView('userView')"><font color="white">Users</font> </button>
            <button class="btn btn-md btn-success mr-2" (click)="setCurrentView('problemView')"><font color="white">Problems</font> </button>
         </div>
      </div>
   </div>
</div>

<div class="container contentHead">
      <div class="row">
        <div class="panel panel-default" *ngIf ="currentView == 'userView'">
            <div class="panel-heading">
                <h3 class= "font-color">Users</h3>
            </div>
            <div class="container parent">
                  <ng2-smart-table (deleteConfirm)="deleteUser($event)" (editConfirm)="updateUser($event)" (createConfirm)="addUser($event)" [source]="locationUsers" [settings]="settings"></ng2-smart-table>
            </div>
        </div>
        <div class="panel panel-default" *ngIf ="currentView == 'problemView'">
            <div class="panel-heading">
                <h3 class= "font-color">Problems</h3>
            </div>
            <!-- <div class="container parent">
                  <ng2-smart-table (deleteConfirm)="deleteUser($event)" (editConfirm)="updateUser($event)" (createConfirm)="addUser($event)" [source]="locationUsers" [settings]="settings"></ng2-smart-table>
            </div> -->
        </div>
      </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Location</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form>
         <div class="form-group">
            <div class="form-group">
               <label for="usr">Location:</label>
               <input placeholder="स्थान" [(ngModel)] ="newLocation.tag" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="usr">
            </div>
         </div>
      </form>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click');saveNewLocation();">Save</button>
   </div>
</ng-template>
<ng-template #delete let-c="close" let-d="dismiss">
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">लोकेशन डिलीट करे</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <form style="padding: 10px">
      <div class="row">
         <div class="col-md">
            <div class="form-group">
               <button class="btn btn-outline-dark px-2 m-1" (click) = "c('Save click');deleteLocation(location.tag)" *ngFor="let location of locationListFiltered">
               {{location.tag + " "}}<span class="fa fa-times"></span> 
               </button>
            </div>
         </div>
      </div>
   </form>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click');">Cancle</button>
   </div>
</ng-template>
<!-- <ng-template #edit let-c="close" let-d="dismiss">
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">लोकेशन अपडेट करे</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form>
         <div class="form-group">
            <div class="form-group">
               <label for="usr">स्थान:</label>
               <input placeholder="स्थान" [(ngModel)] ="newEditLocation.tag" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="usr">
            </div>
         </div>
         <div class="form-group">
            <div class="form-group">
               <label for="usr">हिंदी कर्मचारी संख्या:</label>
               <input placeholder="हिंदी कर्मचारी संख्या" [(ngModel)] ="newEditLocation.employee" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="usr">
            </div>
         </div>
         <div class="form-group">
            <div class="form-group">
               <label for="usr">लोकेशन हिंदी अधिकारी ईमेल:</label>
               <input placeholder="लोकेशन हिंदी अधिकारी ईमेल" [(ngModel)] ="newEditLocation.officerEmail" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="usr">
            </div>
         </div>
         <div class="form-group">
            <div class="form-group">
               <label for="usr">लोकेशन हिंदी कोर्डिनेटर ईमेल:</label>
               <input placeholder="लोकेशन हिंदी कोर्डिनेटर ईमेल" [(ngModel)] ="newEditLocation.coordinatorEmail" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="usr">
            </div>
         </div>
         <div class="form-group">
            <div class="form-group">
               <label for="usr">रिपोर्ट फ्रीक्वेंसी :</label>
               <select   class='form-control' 
               [(ngModel)]='newEditLocation.frequency' [ngModelOptions]="{standalone: true}" [value]=locationList[0]>
               <option placeholder="कार्यालय" *ngFor="let frequency of frequency">{{frequency}}</option>
               </select>         
            </div>
         </div>
        </form>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click');editLocation();">Save</button>
   </div>
</ng-template> -->